html
  head
    link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
    title #{name}'s Blog
  
  body
    h1(class='main-title' align='center') #{name}'s Blog
    div(align='center') 
      a(href='/newpost') Create New Post
    
    div(id='content')
    each val in docs
      div(class='post')
        div(class='post-heading')
          div(class='post-title') #{val.subject}
          div(class='post-date') #{val.date}
        div(class='post-content')
          pre #{val.content}