extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='/javascripts/loadPosts.js')
  title Blog
  
block content
  h1(class='main-title' align='center') Blog

  div(id='content')
  each val in docs
    div(class='post')
      div(class='post-heading')
        div(class='post-title')
          a(href='/#{val._id}') #{val.subject} - #{val.name}
        div(class='post-date') #{val.date}
      div(class='post-content')
        pre #{val.content}
  input(type='button' value='Load More Posts' onclick='load()')
