extends inline_layout

block header
  title Blog

block content
  div(id='lusty_dunghole' class='text-center')
  h1.main-title(align='center') Blog

  div#content
    each val in docs
      div.post
        div.post-heading
          div.post-title
            a(href='/#{val._id}') #{val.subject} - #{val.name}
          div.meta-text #{val.date}
        div.post-content
          pre #{val.content}
  div
    input.btn.btn-default#loadMorePosts(type='button' value='Load More Posts' onclick='load()')

  div.pull-right
    a(href='/feed')
      img(src='/images/rss.jpg')

block foot
  script(src='/javascripts/common.js')
  script(src='/javascripts/loadPosts.js')
