extends layout

block header
  title Manage Posts
  
block content
  h1.main-title(align='center') Manage Posts
  
  div#content
    each val in docs
      div.post
        div.post-heading
          div.post-title #{val.subject}
          div.meta-text #{val.date}
        form(method='post' action='/manage' name='updatePosts')
          div.post-content
            textarea(name='updatedPost' class='updated-post') #{val.content}
          input(type='hidden' name='ObjectId' value='#{val._id}')
          input.btn.btn-default#changes(type='submit' name='submit' value='Submit Changes')
          // Small modal
          button.btn.btn-danger.pull-right(type='button', data-toggle='modal', data-target='.delete-post-#{val._id}') Delete Post
          div(class='modal fade delete-post-#{val._id}' tabindex='-1', role='dialog', aria-labelledby='delete-post-modal')
            div.modal-dialog.modal-sm
              div.modal-content
                div.modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  h4.modal-title.text-center Confirm Deletion
                div.modal-body
                  input.btn.btn-danger.center-block(type='submit' name='submit' value='Delete')

        br
        br
        br
