extends layout

block header
  title Manage Posts
  
block content
  h1(class='main-title' align='center') Manage Posts
  
  div(id='content')
    each val in docs
      div(class='post')
        div(class='post-heading')
          span(class='post-title') #{val.subject}
          span(class='pull-right') #{val.date}
        form(method='post' action='/manage' name='updatePosts')
          div(class='post-content')
            textarea(name='updatedPost' class='updated-post') #{val.content}
          input(type='hidden' name='ObjectId' value='#{val._id}')
          input(type='submit' class='btn btn-default' name='submit' value='Submit Changes' id='changes')
          // Small modal
          button.btn.btn-danger.pull-right(type='button', data-toggle='modal', data-target='.delete-post-#{val._id}') Delete Post
          div(class='modal fade delete-post-#{val._id}' tabindex='-1', role='dialog', aria-labelledby='delete-post-modal')
            div.modal-dialog.modal-sm
              div.modal-content
                div.modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                  h4.modal-title.text-center Confirm Deletion
                div.modal-body
                  input.btn.btn-danger.center-block(type='submit' name='submit' value='Delete')

        br
        br
        br
