extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  title Permalink
  
block content
  div(id='content')
    div(class='post')
      div(class='post-heading')
        div(class='post-title') #{doc.subject} - #{doc.name}
        div(class='post-date meta-text') #{doc.date}
      div(class='post-content')
        pre #{doc.content}
      span(class='view-count meta-text') View Count: #{viewCount}
