extends layout

block header
  title Signup Page
  link(rel='stylesheet' type='text/css' href='/stylesheets/signin.css')
  
block content
  form(class='form-signin' method='post')
    h2(form-signin-heading) Signup
    input(type='text' class='form-control' name='name' placeholder='Name' required)
    td(class='error') #{nameError}
      if locals.username 
        input(type='text' class='form-control' name='username' value='#{username}' required)
      else
        input(type='text' class='form-control' name='username' value='' placeholder='Username' required)
    input(type='password' class='form-control' name='password' value='' placeholder='Password' required)
    td(class='error') #{pwError}
    input(type='password' class='form-control' name='verifyPassword' value='' placeholder='Verify Password' required)
    td(class='error') #{verifyPasswordError}
    input(type='email' class='form-control' name='email' value='' placeholder='Email (Optional)')
    td(class='error') #{emailError}
    br
    input(type='submit' class='btn btn-lg btn-primary btn-block')
