extends layout

block header
  title Signup Page
  link(rel='stylesheet' type='text/css' href='/stylesheets/signin.css')
  
block content
  form.form-signin(method='post')
    h2.form-signin-heading Signup
    input.form-control(type='text' name='name' placeholder='Name' required)
    td.error #{nameError}
      if locals.username 
        input.form-control(type='text' name='username' value='#{username}' required)
      else
        input.form-control(type='text' name='username' value='' placeholder='Username' required)
    input.form-control(type='password' name='password' value='' placeholder='Password' required)
    td.error #{pwError}
    input.form-control(type='password' name='verifyPassword' value='' placeholder='Verify Password' required)
    td.error #{verifyPasswordError}
    input.form-control(type='email' name='email' value='' placeholder='Email (Optional)')
    td.error #{emailError}
    br
    input.btn.btn-lg.btn-primary.btn-block(type='submit' value='Sign Up!')
