extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  title #{name}'s Blog

block content
  h1(class='main-title' align='center') #{name}'s Blog
  
  div(id='content')
  each val in docs
    div(class='post')
      div(class='post-heading')
        div(class='post-title')
          a(href='/#{val._id}') #{val.subject}
        div(class='meta-text') #{val.date}
      div(class='post-content')
        pre #{val.content}
