extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  title #{name}'s Blog

block content
  h1.main-title(align='center') #{name}'s Blog
  
  div#content
  each val in docs
    div.post
      div.post-heading
        div.post-title
          a(href='/#{val._id}') #{val.subject}
        div.meta-text #{val.date}
      div.post-content
        pre #{val.content}
