extends layout

block header
  link(rel='stylesheet' type='text/css' href='/stylesheets/blog.css')
  title Permalink
  
block content
  div#content
    div.post
      div.post-heading
        div.post-title #{doc.subject} - #{doc.name}
        div.meta-text #{doc.date}
      div.post-content
        pre #{doc.content}
      //- span.pull-right.meta-text View Count: #{viewCount}
